body{
    padding:0px;
    width:95%;
    margin:auto;
    color: white;
    background-image: url("https://freefrontend.com/assets/img/css-background-patterns/css-lattice-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face{

}

header{
    text-align: center;
}
section h2{
    margin-left:40px;
}
section{
    overflow: hidden;
}
li{
    background-color: white;
    border-radius: 5px;
    width:20%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    margin:10px;
    padding:10px;
}
ul{
    text-align: center;
    color:black;
}
#grid-floats{
    width: 100%;
    margin: auto;
}
#grid-floats li{
    box-sizing: border-box;
    float: left;
    list-style: none;
    
}
#grid-floats li:first-child{
    width: calc(40% + 20px);
    padding:30px;
    padding-top: 10px;
}
img{
    width:100%;
}
#grid-flex{
    display: flex;
    flex-wrap: wrap;
}
#grid-flex li{
    list-style: none;
    margin:10px;
    padding:10px;

}
/* -----      Mobile Version            -----*/

@media screen and (max-width: 600px) {
    body {
      width: 100%;
    }
    #grid-floats {
      clear: both;
      width: 100%;
      box-sizing: border-box;
    }
    #grid-floats li {
      width: 40%;
      margin: 10px;
    }
    #grid-floats li:first-child {
      width: calc(80% + 20px);
    }
    #grid-flex {
      width: 100%;
      box-sizing: border-box;
      clear: both;
    }
    #grid-flex li {
      width: 40%;
      margin: 10px;
    }
  }
/* ------      Tablet Version ------*/

@media only screen and (min-width:600px) and (max-width:1024px) {
    
    #grid-floats li:first-child {
        width: calc(42% + 10px);      
    }
    #grid-floats li:nth-child(2){
        width: calc(42% + 10px);
    }
    li{
        width:28%;
    }

}